// --------------------------------------
// Site Wide Global Styles
// --------------------------------------
@import "variables";

// --------------------------------------
body {
    background-color: $lightgrey;
}

// --------------------------------------
.todo {
    &-header {
        position: relative;
        width: 100%;
        min-height: 40px;
        margin: 0;
        padding: 15px 0;
        background-color: $darkgrey;
        h3 {
            margin: 0;
            color: $white;
        }
    }
    &-task-body {
        background-color: $white;
        h5 {
            padding: 20px 0 0 0;
        }
    }
}

// --------------------------------------
// --------------------------------------
// --------------------------------------
