// --------------------------------------
// Project Variables
// --------------------------------------
// Hex Colors

$black: #000000;
$lightgrey: #6a6a6a;
$darkgrey: #383838;
$darkgrey2: #262626;
$lightgrey: #aaaaaa;
$white: #ffffff;
$yellow: #fff000;
$red: #ff0000;
$green: #008000;
$blue: #0000ff;
