body {
  background-color: #aaaaaa; }

.todo-header {
  position: relative;
  width: 100%;
  min-height: 40px;
  margin: 0;
  padding: 15px 0;
  background-color: #383838; }
  .todo-header h3 {
    margin: 0;
    color: #ffffff; }

.todo-task-body {
  background-color: #ffffff; }
  .todo-task-body h5 {
    padding: 20px 0 0 0; }
