body {
  background-color: #aaaaaa; }

.todo-header {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  background-color: #383838; }
  .todo-header h3 {
    color: #ffffff; }

.todo-task-body {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin: 0;
  padding: 0;
  background-color: #ffffff; }
